* {
    box-sizing: border-box; }
body {
    cursor: default;
    font-family: 'Denk One', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

p {
    margin: 0;
    padding: 1em 5%;
    color: black; 
}

ul {
    margin: 0;
    padding: 1em 5%;
}

.flex-container {
    max-width: 75em;
    margin: 0 auto;
}

.flex-content {
    padding: 0;
}

.header {
    width: 100%;
    height: 100%;
    background: black; 
    -webkit-order: 1;
    order: 1;
    color: white ;
    font-size: 5em;
    padding: 0.1em;
    border-radius: 0.10em;
}

.header > h1 {
    font-size: 100%;
    text-align: center;
}

.ohman-content {
    width: 100%;
    background: white;
    height: 30em;
    -webkit-order: 3;
    order: 3;
}

.primary {
    background: white;
    border-style: solid;
    -webkit-order: 3;
    order: 3;
    background: black;
    color: white;
    border-radius: 0.515em;
}

.sidebar {
    width: 100%;
    padding: 1em 0;
}

.secondary {
    border-style: solid;
    border-left: none;
    border-right: none;
    -webkit-order: 4;
    order: 4;
    background: white; 
    text-align: center;
}

.footer {
    width: 100%;
    background: black;
    color: white;
    padding: 1em 0;
    text-align: center;
}

.box {
    float: left; 
}

.box > h2 {
    text-align: center;
    color: black;
}

.box1, .box2, .box3 {
    background: white;
    height: 100%;
    width: 33%;
    margin-top: 0.5em;
    border-top: solid;
}

.footer {
    border-style: solid;
    -webkit-order: 5;
    order: 5;
    border-radius: 0.515em;
}

.icons {
    width: 240px;
    margin: 0 auto;
}

.icons i {
    display: block;
    font-size: 1.5em;
    line-height: 50px;
    width: 60px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: white;
    display:  inline-block;
    margin: .8em;
    border-radius: 5em;
    position: relative;
}

.icons a:before, .icons a:after {
    content: '';
    position: absolute;
    background: inherit;
    z-index: -1;
}

.tw {background: #00ACF0;}
.fb {background: #3B5997;}
.gh {background: black;}
.li {background: #007DB8;}

.tw, .fb, .gh, .li {
    width: 10%;
    text-align: center;
    line-height: 150%;
}

.gh {
    color:#999;
    background-color: black;
    background-image: linear-gradient(grey, rgba(255,255,255,0));
}

@keyframes .gh {
    100% {background-color: white;}
}

@supports (flex-wrap: wrap) {
    .box1, .box2, .box3 {
        -webkit-flex-grow: 5;
                flex-grow: 5; 
    }
    .flex-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .ohman-content {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
}
/*-----------------*/

@media screen and (orientation : portrait) {
    .ohman-content {
        width: 100%;
        -webkit-order: 2;
        order: 2;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

    }
    .primary {
        width: 100%;
        height: 33.333%;
    }
    .secondary {
        -webkit-order: 3;
        order: 3;
        background: white;
    }
    
    .box1 {
        order: 3;
        width: 100%;
        height: 33.333%;
        float: left;
    }
    .box2 {
        order: 4;
        width: 100%;
        height: 33.333%;
        float: left;
    }

    .box3 {
        width: 100%;
        height: 33.333%;
        -webkit-flex-grow: 2;
                flex-grow: 2;
        -webkit-order: 5;
                order: 5;
        float: left;
    }
    .sidebar {
        width: 100%;
        height: 33.333%;
    }
}


/* For non-flex browsers, Safari, Android, iOS */


