<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Denk+One' rel='stylesheet' type='text/css'>
    <title>ohmanfoo</title>

</head>
<body>
    <div class="flex-container">
        <div id="header-banner-logo" class="header"><h1>ohman(fo<small>.</small>o)</h1></div>
        <div class="ohman-content flex-content">
            <div class="box box1"><h2>About Me</h2>
                <p>
                    I am a creative web junkie who loves to explore technology. My favorite languages are Python, JavaScript, HTML and CSS, but
                    am comfortable with and enjoy learning about others. 
                    When not developing sites or webapps I enjoy taking in the great scenery and food Toronto has to offer.
                    This site is where I host my various projects and blog where I discuss ongoing projects and experiments.
                    You can find the code to this site and others on my github account, and learn more about me on linkedin. 
                </p>
            </div>
            <div class="box box2"><h2>Blog</h2>
                <p>
                    The point of this blog is to provide myself with a way of keeping track of some goals in progress, such as apps, sites, my
                    portfolio itself, along with my experiments in web development.
                </p>
            </div>   
            <div class="box box3"><h2>Projects</h2>

            </div>
        </div>
        <div class="sidebar primary">
            <div class="icons">
                <a href="#" class='tw'>tw<i class="icon-twitter"></i></a>
                <a href="#" class='li'>in<i class="icon-linkedin"></i></a>
                <a href="#" class='fb'>fb<i class="icon-facebook"></i></a>
                <a href="#" class='gh'>git<i class="icon-github"></i></a>
            </div>
        </div>
        <div class="sidebar secondary"><h2>TWEETS AND RETWEETS</h2></div>
        <div class="footer"><h2>FOOTER LINKS AND NAV</h2></div>

    </div>

</body>
</html>
