<!doctype html>
<html>
<head>

    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />

    <title>ohmanfoo</title>

</head>
<body>
    <div class="flex-container">
        <div id="header-banner-logo" class="header"><h1>!#&@%! ---> ohmanfoo</p></div>
        <div class="ohman-content flex-content">
            <div class="box box1"><p class="box1">About Me</p></div>
            <div class="box box2"><p>Blog</p></div>   
            <div class="box box3"><p>Portfolio</p></div>
        </div>
        <div class="sidebar primary"><p>FACEBOOK TWITTER GITHUB LINKEDIN<p/></div>
        <div class="sidebar secondary"><p>TWEETS AND RETWEETS</p></div>
        <div class="footer"><p>FOOTER LINKS AND NAV</p></div>

    </div>

</body>
</html>